#project2{
    background-color: #ff4190aa;
    color: #FFF078;
}

#project2 a{
    background-color: #FF8225;
}

#project2 a:active{
    background-color: #854413;
}

.showgallery button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 15px;
    border: none;
    background-color: grey;
    margin-bottom: 1vh;
}

.showgallery button:active{
    background-color: rgb(83, 83, 83);
}