#project1{
    background-color: #40534C;
    color: #D6BD98;
}

#project1 a{
    background-color: #FF8225;
}

#project1 a:active{
    background-color: #854413;
}

#showgallerybutton1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 15px;
    border: none;
    background-color: grey;
    margin-bottom: 1vh;
    color: white;
    cursor: pointer;
}

#showgallerybutton1:active{
    background-color: rgb(101, 101, 101);
}