#project1{
    background-color: #40534C;
    color: #D6BD98;
}

#project1 a{
    background-color: #FF8225;
}

#project1 a:active{
    background-color: #854413;
}

.showgallery button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 15px;
    border: none;
    background-color: grey;
    margin-bottom: 1vh;
    color: white;
}

.showgallery button:active{
    background-color: rgb(83, 83, 83);
}