.aboutmecontainer{
    display: flex;
    margin-top: 10vh;
    margin-bottom: 5vh;
    margin-left: 5vh;
    margin-right: 5vh;
    justify-content: space-between;
    align-items: center;
    background-color: #9C27B0 ;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
    border-radius: 15px;
    /* transform: perspective(1000px) rotateX(10deg) rotateY(10deg); */
    transition: all linear 0.5s;
    flex-wrap: wrap;
    /* Add 3D flipping effect */
    perspective: 1000px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1.5s;
}

.aboutmecontainer.flipped {
    transform: rotateY(360deg);
    /* backface-visibility: visible; */
}

.aboutme{
    width: 60%;
    color: #EDE7F6;
}

.aboutme > h1{
    font-size: 2vw;
}
.aboutme > p{
    font-size: 1vw;
}
.aboutme > button{
    background-color: #F50057;
    border: none;
    padding: 10px;
    border-radius: 10px;
}
.aboutme > button:active{
    background-color: #82002e;
}

.aboutmecontainer > img{
    object-fit: cover;
    width: 35%;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}

.detailsSlide{
    display: flex;
    color: #EDE7F6;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    background-color: #9C27B0 ;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
    border-radius: 15px;
    margin-bottom: 10vh;
    margin-left: 5vh;
    margin-right: 5vh;
    padding: 20px;
    /* transform: perspective(1000px) rotateX(-10deg) rotateY(-10deg); */
    transform: translateX(-25%);
    transition: all linear 0.5s;
}

.detailsSlide:hover{
    transform: none;
}

.detailsSlideContainer{
    width: 23%;
    border-right: 1px dotted rgba(255, 255, 255, 0.688);
    padding: 10px;
    margin-left: 5px;
}

.detailsSlideContainer > h2{
    font-size: 1.5vw;
}
.detailsSlideContainer > p{
    font-size: 1vw;
}

.detailsSlideContainer > ul{
    list-style-type: square;
    margin-left: 0;
    font-size: 1vw;
}

#lastslidecontainer{
    border: none;
}

@media screen and (max-width: 992px) {
    .aboutmecontainer{
        transform: none;
    }
    
    .aboutmecontainer:hover{
        transform: none;
    }

    .aboutmecontainer > img{
        width: 35%;
        /* max-height: 20vh; */
    }
    .aboutme{
        width: 64%;
    }
    .aboutme > h1{
        font-size: 30px;
    }
    .aboutme > p{
        font-size: 20px;
    }
    .detailsSlide{
        transform: none;
        flex-wrap: wrap;
    }
    .detailsSlideContainer > h2{
        font-size: 25px;
    }
    .detailsSlideContainer > p, .detailsSlideContainer > ul{
        font-size: 20px;
    }
    .detailsSlideContainer{
        width: 45%;
    }
    #secondlastslidecontainer{
        border: none;
    }
}

@media screen and (max-width: 600px) {
    .aboutmecontainer > img{
        width: 100%;
    }
    .aboutme{
        width: 100%;
    }
    .aboutme > h1{
        font-size: 25px;
    }
    .aboutme > p{
        font-size: 15px;
    }
    .detailsSlideContainer{
        width: 100%;
    }
    .detailsSlideContainer{
        border: none;
    }
    .detailsSlideContainer > h2{
        font-size: 25px;
    }
    .detailsSlideContainer > p, .detailsSlideContainer > ul{
        font-size: 15px;
    }
}